<!doctype html>
<html>
<head>
    <title>Whatsapp Group AutoJoiner</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
</head>

<body>
<main>
    <h1>WhatsApp Group AutoJoin</h1>
    <hr/>
    <p><b>Logged In</b> {{ .LoggedIn }} </p>
    <li><a href="/login">/login</a></li>
    <li><a href="/logout">/logout</a></li>
    <li><a href="/reset">/reset</a></li>
    <li><a href="/logs">/logs</a></li>

</main>
</body>
</html>
