<!doctype html>
<html>
<head>
    <title>Whatsapp Group AutoJoiner</title>

    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="refresh" content="6; url='/qr'" />
    <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css">
</head>

<body>
<main>
    <h1>Login</h1>
    <hr/>
    <p>Login Initiated, please wait .....<p>
</main>
</body>
</html>
